<!DOCTYPE html>
<html lang="pt-BR">
   <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Perguntas e Respostas - Rocket.Q</title>
      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Poppins:wght@400;500;700&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="/styles/global.css">
      <link rel="stylesheet" href="/styles/room.css">
      <link rel="stylesheet" href="/styles/modal.css">
      <script src="/scripts/main.js" type="module" defer></script>
   </head>
   <body>
      <div class="content" id="room">
         <header>
            <a href="/">
               <img src="/images/logo.svg" alt="Rocket.Q Logo"/>
            </a>

            <div class="buttons">
               <button class="button outlined" data-roomId="<%= roomId %>">
                  <span>#<%= roomId %></span>
                  <img src="/images/copy.svg" alt="Copiar número da sala">
               </button>

               <a class="button" href="#">
                  <img src="/images/users-icon-white.svg" alt="Criar sala" />
                  Criar sala
               </a>
            </div>
         </header>

         <main>
            <section id="question-form">
               <h2>Faça sua pergunta</h2>

               <form method="POST" action="/question/create/<%= roomId %>">
                  <label for="question" class="sr-only">O que você quer perguntar?</label>
                  <textarea 
                     name="question" 
                     id="question" 
                     placeholder="O que você quer perguntar?"
                  ></textarea>

                  <footer>
                     <div>
                        <img src="/images/lock-black.svg" alt="Pergunta Anônima">
                        Está pergunta é anônima
                     </div>
                     
                     <button class="button">Enviar</button>
                  </footer>
               </form>
            </section>

            <section id="questions">
               <h2 class="sr-only">Perguntas da comunidade</h2>

               <div class="questions">

                  <% if(totalQuestions > 0) { %>
                     <% questions.forEach(question => { %>
                        <div class="question-wrapper" data-id="<%= question.id %>">
                           <div class="question-content">
                              <div class="user">
                                 <img src="/images/user.svg" alt="Usuário X">
                              </div>
      
                              <div class="question">
                                 <p><%= question.title %></p>
                              </div>
                           </div>
      
                           <div class="actions">
                              <div class="action-read-question">
                                 <img src="/images/check.svg" alt="Marcar como lida">
                                 Pergunta lida
                              </div>
                              <a href="#" class="check">
                                 <img src="/images/check.svg" alt="Marcar como lida">
                                 Marcar como lida
                              </a>
      
                              <a href="#" class="delete">
                                 <img src="/images/trash.svg" alt="Excluir">
                                 Excluir
                              </a>
                           </div>
                        </div>
                     <% })%>
                     <% questionsRead.forEach(question => { %>
                        <div class="question-wrapper read" data-id="<%= question.id %>">
                           <div class="question-content">
                              <div class="user">
                                 <img src="/images/user.svg" alt="Usuário X">
                              </div>
      
                              <div class="question">
                                 <p><%= question.title %></p>
                              </div>
                           </div>
      
                           <div class="actions">
                              <div class="action-read-question">
                                 <img src="/images/check.svg" alt="Marcar como lida">
                                 Pergunta lida
                              </div>
                              <a href="#" class="check">
                                 <img src="/images/check.svg" alt="Marcar como lida">
                                 Marcar como lida
                              </a>
      
                              <a href="#" class="delete">
                                 <img src="/images/trash.svg" alt="Excluir">
                                 Excluir
                              </a>
                           </div>
                        </div>
                     <% })%>
                  <% } else {%> 
                      <div class="no-questions">
                        <img src="/images/no-messages.svg" alt="Sem mensagens">
                        <h2>Nenhuma pergunta por aqui...</h2>
                        <p>Faça sua primeira pergunta e envie o código dessa sala para outras pessoas!</p>
                     </div>
                  <% }%>
                  
               </div>

              
            </section>
         </main>
      </div>

      <div class="modal-wrapper">
         <div class="modal">
            <h2>Excluir pergunta</h2>
            <p>Tem certeza que você deseja excluir essa pergunta?</p>

            <form method="POST">
               <label class="sr-only" for="password">Digite sua senha de admin</label>
               <input type="password" name="password" placeholder="Digite sua senha" id="password">

               <div class="buttons">
                  <div class="button gray" data-cancel>Cancelar</div>
                  <button class="red" type="submit">Sim, excluir</button>
               </div>
            </form>
         </div>
      </div>
   </body>
</html>